.popup__item {
    border: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    font-family: Inter;
}

.popup__item:focus {
    outline: none;
}